@import './Colores';

$disabled:1px solid #EBEBEB;

input{
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: none;
}

button{
  border: 1px solid #ccc;
  background: none;
  border-radius: 20px;
  text-align: center;
  padding: 5px 20px;
  cursor: pointer;
  &.primary{
    border: 1px solid $primary;
  }
  &.btn{
    display: block;
    border-radius: 5px;
    font-weight: bolder;
    padding: 7px 20px;
  }
  &:disabled{
    background-color:rgba(#ccc,0.5);
    color:rgb(182, 179, 179)
  }
  
  &.btn-primary{
    border:1px solid $primary;
    color:$primary;
    background-color: rgba($primary,0.4);
  }
}