.sidebarMenu-profile{
  height: 100%;
  width: 100%;
  //border: 1px dashed red;
  padding: 0 1rem;
  > h4{
    margin-bottom: 1rem;
  }
  > section{
    //border:1px dashed green;
    > span{
      color:#ccc;
      font-weight: bolder;
      display: inline-block;
      margin-bottom: 1.5rem;
    }
    > label{
      width: 100%;
      display: inline-block;
      font-weight: bold;
      margin-bottom: .7rem;
      & +  div.input-icon,& + section + div{
        margin-bottom: 1.5rem;
      }
    }
  }
}