.input-icon{
  position: relative;
  width: 100%;
  input{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    padding-left: 30px;
  }
  & > i{
    position: absolute;
    left:10px;
    top:7px;
    color:#ccc;
  }
}