.TagPeople-profile{
  display: flex;
  align-items: center;
  width: 100%;
  
  .avatar{
    display: block;
    .img-avatar{margin-bottom: 0;}
  }
  .data{
    width: 100%;
    padding-left: 10px;
    div{
      width: 100%;
      display: flex;
      margin-bottom: 5px;
      align-items: center;
      justify-items: space-between;
      // span{
      //   display: block;
      // } 
      span.name{
        width: auto;
        font-weight: bolder;
        max-width: 60%;
      }
      .Hearts{
        width: 0;
        padding-left: 10px;
        flex-grow: 1;
        //font-size: 10px;
      }
    }
  }
} 