@import '../../sass/Colores';

#AddGroupForm{
    width:100%;
    background: #fff;
    padding: 1rem;
    border: 1px solid rgb(148, 148, 148); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    .form-title{
      color:$primary;
      margin-bottom: 1rem;
      font-size: 30px;
      font-weight: bolder;
      text-align: center;
    }
    input,textarea{
      width: 100%;
      margin-bottom: .5rem;
    }
    button{
      margin-top: .5rem;
    }
}