@import '../../../sass/Colores';

#ProfileSidebarMain{
  padding: 0 1rem;
  max-height: 100%;
  //border: 1px dashed red;
  > h4 {
    margin-bottom: 1rem;
  }
  > section{
    height: auto;
    margin-bottom: 2rem;
    > button.trust-button{
      width: 80px;
      border-radius: 7px;
      font-size: 1.5rem;
      line-height: 40px;
      display: inline-block;
      margin-right: 1rem;
      text-align: center;
      padding: 0;
      &.not{
        &:hover{
          background: rgba($secondary,.4);
          border:1px solid $secondary;
        }  
        > i{
          color: $secondary;
        }
      }
      &.yes  > *{
        color: $primary;
      }
    }
  }
}